.formContainer {
    padding: 10% 23%;
}

.formInnerWrapper {
    display: flex;
    flex-direction: column;
}

.form fieldset {
    border: none;
    margin: 0 0 92px;
}

.formLegend {
    color: var(--color-denim);
    font-size: 32px;
    line-height: 110%;
    margin: 0 0 18px;
}

.formSubtext {
    color: var(--color-grey);
    font-size: 16px;
    line-height: 130%;
}

.inputsGroup {
    display: flex;
    flex-direction: column;
}
