.button {
    display: block;

    text-transform: capitalize;
    text-align: center;

    border-radius: 8px;
    border: none;
}

.buttonMedium {
    padding: 14px;
    font-size: 16px;
    min-width: 123px;
}

.buttonOrdinary {
    color: var(--color--white);
    background-color: var(--color-denim);
}


