:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    max-width: 1280px;
    margin: 0 auto;

    --color-bg: #EFF5FF;
    --color-border: #D6D9E6;
    --color-denim: #022959;
    --color-grey: #9699AA;
    --color-light-blue: #ABBCFF;
    --color--light-grey: #D6D9E6;
    --color--orange: #FFAF7E;
    --color--pink: #F9818E;
    --color--purple: #483EFF;
    --color--red-errors: #EE374A;
    --color--sky-blue: #BEE2FD;
    --color--very-light-grey: #F8F9FF;
    --color--white: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

a {
    box-shadow: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
    outline-width: 0;
}
